* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.Header1 {
  background-color: grey;
  border: 1px solid red;
  border-radius: 10px;
  height: 80px;
  width: 90vw;
  max-width: 390px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 20px auto 0;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ArticlesList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background: radial-gradient(circle at 50%, white, grey);
  margin: 10px;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 220px);
}

.ArticleCard {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ArticleCard h3 {
  font-size: 1.2rem;
  margin: 0;
}

.ArticleCard p {
  margin: 0;
  color: #666;
}

.ArticleCard:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}

.ArticleHeader {
  background-color: grey;
  border: 1px solid red;
  border-radius: 10px;
  height: 80px;
  width: 90vw;
  max-width: 390px;
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

.ArticlePage {
  display: grid;
  grid-template-columns: 150px auto; 
  grid-template-rows: auto auto; 
  gap: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 120px auto 10px; 
  padding: 10px;
  color: black;
  width: 90vw;
  max-width: 390px;
  background-color: white; 
}

.APImage {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 100%;
  height: auto;
}

.APTitle {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
}

.APVotes {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 0.8rem;
  text-align: left;
}

.APComments {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-size: 0.8rem;
  text-align: right;
}

.CommentsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background: radial-gradient(circle at 50%, white, grey);
  margin: 10px;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 220px);
}

.CommentCard {
  background-color: #fff;
  list-style-type: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: flex-start;
}

.CommentAuthor {
  font-weight: bold; 
}

.CommentVotes {
  margin-top: 10px; 
}

.AHHomeButton {
  background-color: white; 
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 5px;
  margin-top: 22px;
  text-decoration: none;
  font-weight: bold;
}

.AHHomeButton:hover {
  background-color: rgba(255, 255, 255, 0.403); 
  cursor: pointer;
}
