
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.Header1 {
  display: flex;
  flex-direction: column;
  justify-items: space-around;
  box-sizing: border-box;
  background-color: grey;
  border: 1px solid red;
  border-radius: 10px;
  width:90vw;
  height:80px;
}

.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.ArticlesList {
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid black;
  border-radius: 10px;
  background-color: rgb(177, 175, 175);
  background: radial-gradient(circle at 50%, white, grey);
  margin:10px 10px 10px 10px;
  overflow: scroll;
  
}

.ArticleCard {
  background-color: #fff;
  list-style-type: none;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin:0px 10px 10px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ArticleCard h3 {
  font-size: 1.2rem;
  margin: 0;
}

.ArticleCard p {
  margin: 0;
  color: #666;
}

.ArticleCard:hover {
  transform: translateY(-5px);
  transition: transform 0.2s ease-in-out;
}
